html,
body {
  height: 100vh;
  margin: 0;

  padding: 0;
  background-color: rgb(233, 233, 233);

}
.MainPage {
  display: flex;
  justify-content: center;
  width: 99vw;
  height: 100vh;
  background-image: url("https://cdn.hipwallpaper.com/i/2/97/0iNd1A.png");
}

.Title {
  top: 30vh;
  position: absolute;
  font-size: 20px;
  -webkit-font-smoothing: none;
  font-family: "pokemon-font", monospace;
}

.PlayButton {
  width: 150px;
  height: 150px;
  margin: 20px;
  top: 9vh;
  position: relative;
  border: 6px solid #ccc;
  cursor: pointer;
  border-radius: 50%;
  background-image: -moz-radial-gradient(
      40% 40%,
      circle,
      rgba(0, 0, 0, 0.1) 40%,
      rgba(0, 0, 0, 1) 100%
    ),
    -moz-linear-gradient(-90deg, #f33 45%, #333 45%, #3f3f3f 50%, #333 55%, #fff
          55%);
  background-image: -webkit-radial-gradient(
      40% 40%,
      circle,
      rgba(0, 0, 0, 0.1) 40%,
      rgba(0, 0, 0, 1) 100%
    ),
    -webkit-linear-gradient(-90deg, #f33 45%, #333 45%, #3f3f3f 50%, #333 55%, #fff
          55%);
}
.PlayButton:hover {
  -webkit-animation: shak 0.3s infinite;
  -moz-animation: shak 0.3s infinite;
}
@-webkit-keyframes shak {
  0%,
  100% {
    -webkit-transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
  }
}
@-moz-keyframes shak {
  0%,
  100% {
    -moz-transform: rotate(-10deg);
  }
  50% {
    -moz-transform: rotate(10deg);
  }
}

.PlayButton:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 6;
  width: 20%;
  height: 20%;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #aaa, 0 0 0 10px #fff, 0 0 0 16px #3f3f3f;
  margin: 40%;
}
.PlayButton:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 94%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0);
  margin: 45% 3%;
  box-shadow: 12px 0 0 #fff, -12px 0 0 #fff;
}

.PlayButton:after{
	content: "";
	display: block;
	position: absolute;
	z-index: 1;
	width: 94%;
	height: 10%;
	background-color:rgba(0,0,0,0);
	margin: 45% 3%;
	box-shadow: 12px 0 0 #FFF, -12px 0 0 #FFF;
}

.game-card{
	display:flex;
	justify-content: left;
}

.outer-paper{
	width: 50%;
}

.Links{
	text-decoration: none;
	color:white;
}

.Links:disabled{
	color:white;
}

.AwaitingLobby{
	display: flex;
	justify-content: center;
}

.stopPls{
	display: flex;
	justify-content: center;
	position: relative;
	top:14vh;
	color:red;
	
}

.pokeDivs{ 
position: relative;
top: 20vh;
	display: flex;
	justify-content: center;
	width: 10vw;
	height: 20vh;
	background-color: #F6F6F6;
	border-radius: 10px;
	border: 1px solid;
    padding: 10px;
	box-shadow: 5px 10px 8px #888888;
	margin-left: 10px;
}

.listImage{
	position: absolute;
	justify-content: center;
	width: 8vw;
	top:2vh;
	height: 10vh;
}



.pokeDivText{
	position: absolute;
	top:13vh;
	font-size: 28px;
	font-family: 'Chakra Petch', sans-serif;
}


.pokeDivs:hover{ 
		width: 12vw;
		height: 22vh;
		background-color: rgb(211, 211, 211);
		border-radius: 15px;
		border: 1px solid;
		padding: 0px;
		margin-left: 10px;
		font-size: 30px;
	}

	.pokeDivs:active{
		background-color: rgba(0, 177, 0, 0.589);
		color:white;
	}


	.PageTitleHeader{
		position: relative;
		display: flex;
		justify-content: center;
		font-family: 'Chakra Petch', sans-serif;
		top: 10vh;
	}

	.SelectedTitle{
		display: flex;
		justify-content: center;
		position: relative;
		top: 30vh;
		font-family: 'Chakra Petch', sans-serif;
	}

	.SelecedpokeDivs{
		position: relative;
		top: 30vh;
	display: flex;
	justify-content: center;
	width: 7vw;
	height: 17vh;
	background-color: #F6F6F6;
	border-radius: 15px;
	border: 1px solid;
    padding: 10px;
	box-shadow: 5px 10px 8px #888888;
	margin-left: 10px;
	}

	.SlectedListImage{
		position: absolute;
	justify-content: center;
	width: 5vw;
	top:2vh;
	height: 7vh;
	}

	.SelectedPokeDivText{
		position: absolute;
	top:11vh;
	font-size: 20px;
	font-family: 'Chakra Petch', sans-serif;
}

.startingButton{
	position: relative;
	top: 33vh;
	left: 39vw;
	width: 7vw;
	height: 5vh;	
	
}

